# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [1, 2, 5]
sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
sort_translit = false
linemode = "size"
show_hidden = false
show_symlink = true
scrolloff = 5
mouse_events = ["click", "scroll"]

[preview]
tab_size = 2
max_width = 600
max_height = 900
cache_dir = ""
image_delay = 30
image_filter = "triangle"
image_quality = 75
sixel_fraction = 15
ueberzug_scale = 1
ueberzug_offset = [0, 0, 0, 0]


[opener]
play = [
  { run = 'mpv --force-window "$@"', desc = "Play media in mpv", orphan = true },
]
edit = [{ run = '$EDITOR "$@"', block = true, desc = "Edit file in EDITOR" }]
open = [
  { run = 'xdg-open "$1"', desc = "Open file with system default app", orphan = true },
]
reveal = [
  { run = 'xdg-open "(dirname "$1")"', desc = "Open containing folder" },
]
ebook = [
  { run = 'zathura "$1"', desc = "Open eBook in Zathura", orphan = true },
]
office = [
  { run = 'libreoffice "$1"', desc = "Open document in LibreOffice", orphan = true },
]
image = [{ run = 'nsviv "$1"', desc = "View image in nsviv", orphan = true }]
sc-im = [
  { run = 'sc-im "$1"', desc = "Open spreadsheet in sc-im", block = true },
]
extract = [
  { run = 'ouch d -y %*', desc = "Extract here with ouch", for = "windows" },
  { run = 'ouch d -y "$@"', desc = "Extract here with ouch", for = "unix" },
]

[open]
rules = [
  { name = "*/", use = ["edit", "open", "reveal"] },
  { mime = "text/sc", use = ["sc-im", "edit"] },
  { mime = "text/csv", use = ["sc-im", "edit"] },
  { mime = "text/*", use = ["edit", "reveal"] },
  { mime = "{audio,video}/*", use = ["play", "reveal"] },
  { mime = "application/{json,ndjson}", use = ["edit", "reveal"] },
  { mime = "*/javascript", use = ["edit", "reveal"] },
  { mime = "inode/empty", use = ["edit", "reveal"] },

  { mime = "image/*", use = ["open", "image"] },

  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = "extract" },

  { mime = "application/openxmlformats-officedocument.*", use = "office" },
  { mime = "application/oasis.opendocument.*", use = "office" },
  { mime = "application/ms-*", use = "office" },
  { mime = "application/msword", use = "office" },

  { name = "*.cb[7rz]", use = ["ebook", "reveal"] },
  { name = "*", use = ["open", "reveal"] },
]

[tasks]
micro_workers = 10
macro_workers = 10
bizarre_retry = 3
image_alloc = 536870912  # 512MB
image_bound = [0, 0]
suppress_preload = false


[plugin]

fetchers = [
  # Mimetype
  { id = "mime", name = "*", run = "mime", if = "!mime", prio = "high" },
]
spotters = [
  { name = "*/", run = "folder" },
  # Code
  { mime = "text/*", run = "code" },
  { mime = "*/{xml,javascript,wine-extension-ini}", run = "code" },
  # Image
  { mime = "image/{avif,hei?,jxl,svg+xml}", run = "magick" },
  { mime = "image/*", run = "image" },
  # Video
  { mime = "video/*", run = "video" },
  # Fallback
  { name = "*", run = "file" },
]
prepend_preloaders = [
  # Comics
  { name = "*.cb[7rz]", run = "comicthumb" },

  # Office
  { mime = "application/openxmlformats-officedocument.*", run = "office" },
  { mime = "application/oasis.opendocument.*", run = "office" },
  { mime = "application/ms-*", run = "office" },
  { mime = "application/msword", run = "office" },
  { name = "*.docx", run = "office" },
]
prepend_previewers = [

  # Image
  { mime = "image/{avif,hei?,jxl,svg+xml}", run = "magick" },
  { mime = "image/*", run = "image" },

  # Video
  { mime = "video/*", run = "video" },

  # PDF
  { mime = "application/pdf", run = "pdf" },

  # Epub
  { mime = "application/epub+zip", run = "epub-preview" },

  # Font
  { mime = "font/*", run = "font" },
  { mime = "application/ms-opentype", run = "font" },

  { name = "*/", run = "folder", sync = true },

  # Code
  { mime = "text/*", run = "code" },
  { mime = "*/{xml,javascript,wine-extension-ini}", run = "code" },

  # JSON
  { mime = "application/{json,ndjson}", run = "json" },

  # Image
  { mime = "image/{avif,hei?,jxl,svg+xml}", run = "magick" },
  { mime = "image/*", run = "image" },

  # Video
  { mime = "video/*", run = "video" },

  # Archive
  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", run = "archive" },
  { mime = "application/{debian*-package,redhat-package-manager,rpm,android.package-archive}", run = "archive" },
  { name = "*.{AppImage,appimage}", run = "archive" },

  # Virtual Disk / Disk Image
  { mime = "application/{iso9660-image,qemu-disk,ms-wim,apple-diskimage}", run = "archive" },
  { mime = "application/virtualbox-{vhd,vhdx}", run = "archive" },
  { name = "*.{img,fat,ext,ext2,ext3,ext4,squashfs,ntfs,hfs,hfsx}", run = "archive" },

  # Font
  { mime = "font/*", run = "font" },
  { mime = "application/ms-opentype", run = "font" },

  # Empty file
  { mime = "inode/empty", run = "empty" },

  # Comics
  { name = "*.cb[7rz]", run = "comicthumb" },

  # Office
  { mime = "application/openxmlformats-officedocument.*", run = "office" },
  { mime = "application/oasis.opendocument.*", run = "office" },
  { mime = "application/ms-*", run = "office" },
  { mime = "application/msword", run = "office" },
  { name = "*.docx", run = "office" },

  { mime = "audio/*", run = "mediainfo" },
  { mime = "application/bittorrent", run = "torrent-preview" },

  # Fallback
  { name = "*", run = "file" },

]

[input]
cursor_blink = false

# cd
cd_title = "Change directory:"
cd_origin = "top-center"
cd_offset = [0, 2, 50, 3]

# create
create_title = ["Create:", "Create (dir):"]
create_origin = "top-center"
create_offset = [0, 2, 50, 3]

# rename
rename_title = "Rename:"
rename_origin = "hovered"
rename_offset = [0, 1, 50, 3]

# filter
filter_title = "Filter:"
filter_origin = "top-center"
filter_offset = [0, 2, 50, 3]

# find
find_title = ["Find next:", "Find previous:"]
find_origin = "top-center"
find_offset = [0, 2, 50, 3]

# search
search_title = "Search via {n}:"
search_origin = "top-center"
search_offset = [0, 2, 50, 3]

# shell
shell_title = ["Shell:", "Shell (block):"]
shell_origin = "top-center"
shell_offset = [0, 2, 50, 3]

[confirm]
# trash
trash_title = "Trash {n} selected file{s}?"
trash_origin = "center"
trash_offset = [0, 0, 70, 20]

# delete
delete_title = "Permanently delete {n} selected file{s}?"
delete_origin = "center"
delete_offset = [0, 0, 70, 20]

# overwrite
overwrite_title = "Overwrite file?"
overwrite_content = "Will overwrite the following file:"
overwrite_origin = "center"
overwrite_offset = [0, 0, 50, 15]

# quit
quit_title = "Quit?"
quit_content = "The following tasks are still running, are you sure you want to quit?"
quit_origin = "center"
quit_offset = [0, 0, 50, 15]

[pick]
open_title = "Open with:"
open_origin = "hovered"
open_offset = [0, 1, 50, 7]

[which]
sort_by = "none"
sort_sensitive = false
sort_reverse = false
sort_translit = false
